In [1]:
import seaborn as sns
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from IPython.display import display, HTML

#import my modules
import acquire as a
import prepare as p

from sklearn.preprocessing import MinMaxScaler, RobustScaler

# Acquire

In [2]:
df = a.get_zillow()

In [3]:
df.head()

,parcelid,basementsqft,bathroomcnt,bedroomcnt,decktypeid,calculatedfinishedsquarefeet,fips,fireplacecnt,garagecarcnt,hashottuborspa,...,regionidcounty,regionidzip,typeconstructiondesc,unitcnt,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,taxvaluedollarcnt,taxamount,logerror,transactiondate
0,14297519,NaN,3.5,4.0,NaN,3100.0,6059.0,NaN,2.0,NaN,...,1286.0,96978.0,NaN,NaN,485713.0,537569.0,1023282.0,11013.72,0.025595,2017-01-01
1,17052889,NaN,1.0,2.0,NaN,1465.0,6111.0,1.0,1.0,NaN,...,2061.0,97099.0,NaN,NaN,88000.0,376000.0,464000.0,5672.48,0.055619,2017-01-01
2,14186244,NaN,2.0,3.0,NaN,1243.0,6059.0,NaN,2.0,NaN,...,1286.0,97078.0,NaN,NaN,85289.0,479489.0,564778.0,6488.30,0.005383,2017-01-01
3,12177905,NaN,3.0,4.0,NaN,2376.0,6037.0,NaN,NaN,NaN,...,3101.0,96330.0,NaN,1.0,108918.0,36225.0,145143.0,1777.51,-0.103410,2017-01-01
4,10887214,NaN,3.0,3.0,NaN,1312.0,6037.0,NaN,NaN,NaN,...,3101.0,96451.0,NaN,1.0,73681.0,45726.0,119407.0,1533.89,0.006940,2017-01-01

In [4]:
df.shape

(77579, 36)

In [5]:
#getting the latest transactions 
df = df.sort_values(by ='transactiondate', ascending=True).drop_duplicates( subset = 'parcelid' ,keep= 'last')

In [6]:
df.shape

(77381, 36)

In [7]:
#this list has all types of single unit properties
single= ['Single Family Residential',' Mobile Home' , 'Townhouse ', 'Manufactured, Modular, Prefabricated Homes'  ]

In [8]:
#create a mask
single_mask = df['propertylandusedesc'].isin(single)

In [9]:
#if unitcnt == that's means is is a single property but if it is null we can compare with our list of single

In [27]:
#using that mask and also add  a condition
df_single = df[single_mask & ((df['unitcnt'] == 1) | (df['unitcnt'].isnull()))]

In [28]:
#this df contains all single unit homes of 2017 with the latest transaction
df_single.shape

(52350, 36)

In [29]:
a.summarize(df_single)

=====================================================
Dataframe shape:
(52350, 36)
=====================================================
Dataframe head:
   parcelid  basementsqft  bathroomcnt  bedroomcnt  decktypeid  \
0  14297519           NaN          3.5         4.0         NaN
1  17052889           NaN          1.0         2.0         NaN
2  14186244           NaN          2.0         3.0         NaN

   calculatedfinishedsquarefeet    fips  fireplacecnt  garagecarcnt  \
0                        3100.0  6059.0           NaN           2.0
1                        1465.0  6111.0           1.0           1.0
2                        1243.0  6059.0           NaN           2.0

   hashottuborspa  ...  regionidcounty  regionidzip  typeconstructiondesc  \
0             NaN  ...          1286.0      96978.0                   NaN
1             NaN  ...          2061.0      97099.0                   NaN
2             NaN  ...          1286.0      97078.0                   NaN

   unitcnt  structuretaxvaluedollarcnt  landtaxvaluedollarcnt  \
0      NaN                    485713.0               537569.0
1      NaN                     88000.0               376000.0
2      NaN                     85289.0               479489.0

   taxvaluedollarcnt taxamount  logerror transactiondate
0          1023282.0  11013.72  0.025595      2017-01-01
1           464000.0   5672.48  0.055619      2017-01-01
2           564778.0   6488.30  0.005383      2017-01-01

[3 rows x 36 columns]
=====================================================
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52350 entries, 0 to 77578
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52350 non-null  int64
 1   basementsqft                  47 non-null     float64
 2   bathroomcnt                   52350 non-null  float64
 3   bedroomcnt                    52350 non-null  float64
 4   decktypeid                    390 non-null    float64
 5   calculatedfinishedsquarefeet  52262 non-null  float64
 6   fips                          52350 non-null  float64
 7   fireplacecnt                  7230 non-null   float64
 8   garagecarcnt                  18017 non-null  float64
 9   hashottuborspa                1514 non-null   float64
 10  latitude                      52350 non-null  float64
 11  longitude                     52350 non-null  float64
 12  lotsizesquarefeet             51984 non-null  float64
 13  poolcnt                       11072 non-null  float64
 14  yearbuilt                     52230 non-null  float64
 15  numberofstories               14531 non-null  float64
 16  airconditioningtypeid         13610 non-null  float64
 17  airconditioningdesc           13610 non-null  object
 18  architecturalstyletypeid      70 non-null     float64
 19  architecturalstyledesc        70 non-null     object
 20  storytypeid                   47 non-null     float64
 21  storydesc                     47 non-null     object
 22  propertylandusetypeid         52350 non-null  float64
 23  propertylandusedesc           52350 non-null  object
 24  typeconstructiontypeid        76 non-null     float64
 25  regionidcity                  51314 non-null  float64
 26  regionidcounty                52350 non-null  float64
 27  regionidzip                   52323 non-null  float64
 28  typeconstructiondesc          76 non-null     object
 29  unitcnt                       33734 non-null  float64
 30  structuretaxvaluedollarcnt    52261 non-null  float64
 31  landtaxvaluedollarcnt         52349 non-null  float64
 32  taxvaluedollarcnt             52349 non-null  float64
 33  taxamount                     52346 non-null  float64
 34  logerror                      52350 non-null  float64
 35  transactiondate               52350 non-null  object
dtypes: float64(29), int64(1), object(6)
memory usage: 14.8+ MB
None
=====================================================
Dataframe Description:
                                count          mean           std  \
parcelid                      52350.0  1.300170e+07  3.352540e+06
basementsqft                     47.0  6.789787e+02  7.118252e+02
bathroomcnt                   52350.0  2.298166e+00  1.020791e+00
bedroomcnt                    52350.0  3.297994e+00  9.476073e-01
decktypeid                      390.0  6.600000e+01  0.000000e+00
calculatedfinishedsquarefeet  52262.0  1.921948e+03  1.000498e+03
fips                          52350.0  6.049206e+03  2.111676e+01
fireplacecnt                   7230.0  1.209682e+00  5.129560e-01
garagecarcnt                  18017.0  1.949215e+00  5.494291e-01
hashottuborspa                 1514.0  1.000000e+00  0.000000e+00
latitude                      52350.0  3.402273e+07  2.740187e+05
longitude                     52350.0 -1.181950e+08  3.577449e+05
lotsizesquarefeet             51984.0  1.130779e+04  8.670670e+04
poolcnt                       11072.0  1.000000e+00  0.000000e+00
yearbuilt                     52230.0  1.963453e+03  2.311081e+01
numberofstories               14531.0  1.414011e+00  5.405324e-01
airconditioningtypeid         13610.0  2.440118e+00  3.848533e+00
architecturalstyletypeid         70.0  7.100000e+00  2.665670e+00
storytypeid                      47.0  7.000000e+00  0.000000e+00
propertylandusetypeid         52350.0  2.610155e+02  4.657438e-01
typeconstructiontypeid           76.0  5.973684e+00  2.294157e-01
regionidcity                  51314.0  3.349296e+04  4.907606e+04
regionidcounty                52350.0  2.523593e+03  8.038950e+02
regionidzip                   52323.0  9.663688e+04  4.609110e+03
unitcnt                       33734.0  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    52261.0  1.964632e+05  2.542117e+05
landtaxvaluedollarcnt         52349.0  3.320823e+05  5.283058e+05
taxvaluedollarcnt             52349.0  5.282153e+05  7.203655e+05
taxamount                     52346.0  6.435407e+03  8.367895e+03
logerror                      52350.0  1.813059e-02  1.767137e-01

                                       min           25%           50%  \
parcelid                      1.071186e+07  1.151107e+07  1.258261e+07
basementsqft                  3.800000e+01  2.635000e+02  5.120000e+02
bathroomcnt                   0.000000e+00  2.000000e+00  2.000000e+00
bedroomcnt                    0.000000e+00  3.000000e+00  3.000000e+00
decktypeid                    6.600000e+01  6.600000e+01  6.600000e+01
calculatedfinishedsquarefeet  1.280000e+02  1.268000e+03  1.658000e+03
fips                          6.037000e+03  6.037000e+03  6.037000e+03
fireplacecnt                  1.000000e+00  1.000000e+00  1.000000e+00
garagecarcnt                  0.000000e+00  2.000000e+00  2.000000e+00
hashottuborspa                1.000000e+00  1.000000e+00  1.000000e+00
latitude                      3.334062e+07  3.382702e+07  3.402413e+07
longitude                    -1.194754e+08 -1.184017e+08 -1.181534e+08
lotsizesquarefeet             2.360000e+02  5.577750e+03  6.840000e+03
poolcnt                       1.000000e+00  1.000000e+00  1.000000e+00
yearbuilt                     1.878000e+03  1.950000e+03  1.961000e+03
numberofstories               1.000000e+00  1.000000e+00  1.000000e+00
airconditioningtypeid         1.000000e+00  1.000000e+00  1.000000e+00
architecturalstyletypeid      2.000000e+00  7.000000e+00  7.000000e+00
storytypeid                   7.000000e+00  7.000000e+00  7.000000e+00
propertylandusetypeid         2.610000e+02  2.610000e+02  2.610000e+02
typeconstructiontypeid        4.000000e+00  6.000000e+00  6.000000e+00
regionidcity                  3.491000e+03  1.244700e+04  2.481200e+04
regionidcounty                1.286000e+03  1.286000e+03  3.101000e+03
regionidzip                   9.598200e+04  9.620600e+04  9.641400e+04
unitcnt                       1.000000e+00  1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    1.290000e+02  7.703200e+04  1.317790e+05
landtaxvaluedollarcnt         1.610000e+02  7.614300e+04  2.179280e+05
taxvaluedollarcnt             1.000000e+03  1.936450e+05  3.733790e+05
taxamount                     4.918000e+01  2.653938e+03  4.644620e+03
logerror                     -4.655420e+00 -2.471233e-02  6.947985e-03

                                       75%           max
parcelid                      1.413323e+07  1.676878e+08
basementsqft                  8.095000e+02  3.560000e+03
bathroomcnt                   3.000000e+00  1.300000e+01
bedroomcnt                    4.000000e+00  1.100000e+01
decktypeid                    6.600000e+01  6.600000e+01
calculatedfinishedsquarefeet  2.304000e+03  2.192900e+04
fips                          6.059000e+03  6.111000e+03
fireplacecnt                  1.000000e+00  5.000000e+00
garagecarcnt                  2.000000e+00  1.400000e+01
hashottuborspa                1.000000e+00  1.000000e+00
latitude                      3.418780e+07  3.481877e+07
longitude                    -1.179291e+08 -1.175546e+08
lotsizesquarefeet             8.795000e+03  6.971010e+06
poolcnt                       1.000000e+00  1.000000e+00
yearbuilt                     1.979000e+03  2.016000e+03
numberofstories               2.000000e+00  6.000000e+00
airconditioningtypeid         1.000000e+00  1.300000e+01
architecturalstyletypeid      7.000000e+00  2.100000e+01
storytypeid                   7.000000e+00  7.000000e+00
propertylandusetypeid         2.610000e+02  2.750000e+02
typeconstructiontypeid        6.000000e+00  6.000000e+00
regionidcity                  4.022700e+04  3.965560e+05
regionidcounty                3.101000e+03  3.101000e+03
regionidzip                   9.699500e+04  3.996750e+05
unitcnt                       1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    2.262630e+05  9.164901e+06
landtaxvaluedollarcnt         4.083090e+05  2.233550e+07
taxvaluedollarcnt             6.189660e+05  2.538125e+07
taxamount                     7.373073e+03  2.909981e+05
logerror                      4.062342e-02  5.262999e+00
=====================================================
**parcelid**
Unique Values :  52350

=====================================================
**basementsqft**
Unique Values :  41

(34.477000000000004, 390.2]    20
(390.2, 742.4]                 13
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
=====================================================
**bathroomcnt**
Unique Values :  21

0.0       141
1.0      9534
1.5       839
2.0     21867
2.5      3932
3.0     10643
3.5       916
4.0      2219
4.5       685
5.0       803
5.5       224
6.0       318
6.5        47
7.0        88
7.5        16
8.0        53
8.5         3
9.0        13
10.0        5
11.0        3
13.0        1
Name: bathroomcnt, dtype: int64
=====================================================
**bedroomcnt**
Unique Values :  12

0.0       157
1.0       610
2.0      8343
3.0     23302
4.0     15202
5.0      3964
6.0       633
7.0       105
8.0        23
9.0         8
10.0        2
11.0        1
Name: bedroomcnt, dtype: int64
=====================================================
**decktypeid**
Unique Values :  1

66.0    390
Name: decktypeid, dtype: int64
=====================================================
**calculatedfinishedsquarefeet**
Unique Values :  4721

=====================================================
**fips**
Unique Values :  3

6037.0    33800
6059.0    14110
6111.0     4440
Name: fips, dtype: int64
=====================================================
**fireplacecnt**
Unique Values :  5

1.0    6022
2.0     941
3.0     229
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64
=====================================================
**garagecarcnt**
Unique Values :  14

0.0        65
1.0      2196
2.0     14811
3.0       621
4.0       253
5.0        45
6.0        13
7.0         3
8.0         2
9.0         2
10.0        3
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64
=====================================================
**hashottuborspa**
Unique Values :  1

1.0    1514
Name: hashottuborspa, dtype: int64
=====================================================
**latitude**
Unique Values :  50502

=====================================================
**longitude**
Unique Values :  50788

=====================================================
**lotsizesquarefeet**
Unique Values :  14295

=====================================================
**poolcnt**
Unique Values :  1

1.0    11072
Name: poolcnt, dtype: int64
=====================================================
**yearbuilt**
Unique Values :  133

(1877.861, 1891.8]       22
(1891.8, 1905.6]        166
(1905.6, 1919.4]       1020
(1919.4, 1933.2]       4068
(1933.2, 1947.0]       4890
(1947.0, 1960.8]      15889
(1960.8, 1974.6]      10221
(1974.6, 1988.4]       6971
(1988.4, 2002.2]       5925
(2002.2, 2016.0]       3058
Name: yearbuilt, dtype: int64
=====================================================
**numberofstories**
Unique Values :  4

1.0    8869
2.0    5311
3.0     350
6.0       1
Name: numberofstories, dtype: int64
=====================================================
**airconditioningtypeid**
Unique Values :  4

1.0     11868
5.0       159
11.0       16
13.0     1567
Name: airconditioningtypeid, dtype: int64
=====================================================
**airconditioningdesc**
Unique Values :  4

Central      11868
Yes           1567
None           159
Wall Unit       16
Name: airconditioningdesc, dtype: int64
=====================================================
**architecturalstyletypeid**
Unique Values :  5

2.0      2
3.0      3
7.0     62
8.0      1
21.0     2
Name: architecturalstyletypeid, dtype: int64
=====================================================
**architecturalstyledesc**
Unique Values :  5

Contemporary     62
Cape Cod          3
Bungalow          2
Ranch/Rambler     2
Conventional      1
Name: architecturalstyledesc, dtype: int64
=====================================================
**storytypeid**
Unique Values :  1

7.0    47
Name: storytypeid, dtype: int64
=====================================================
**storydesc**
Unique Values :  1

Basement    47
Name: storydesc, dtype: int64
=====================================================
**propertylandusetypeid**
Unique Values :  2

261.0    52292
275.0       58
Name: propertylandusetypeid, dtype: int64
=====================================================
**propertylandusedesc**
Unique Values :  2

Single Family Residential                     52292
Manufactured, Modular, Prefabricated Homes       58
Name: propertylandusedesc, dtype: int64
=====================================================
**typeconstructiontypeid**
Unique Values :  2

4.0     1
6.0    75
Name: typeconstructiontypeid, dtype: int64
=====================================================
**regionidcity**
Unique Values :  175

(3097.9339999999997, 7421.65]     2617
(7421.65, 11352.3]                1633
(11352.3, 15282.95]              15619
(15282.95, 19213.6]               2921
(19213.6, 23144.25]               1243
                                 ...
(376902.75, 380833.4]                0
(380833.4, 384764.05]                0
(384764.05, 388694.7]                0
(388694.7, 392625.35]                0
(392625.35, 396556.0]              779
Name: regionidcity, Length: 100, dtype: int64
=====================================================
**regionidcounty**
Unique Values :  3

1286.0    14110
2061.0     4440
3101.0    33800
Name: regionidcounty, dtype: int64
=====================================================
**regionidzip**
Unique Values :  381

(95678.306, 99018.93]     52311
(99018.93, 102055.86]         0
(102055.86, 105092.79]        0
(105092.79, 108129.72]        0
(108129.72, 111166.65]        0
                          ...
(384490.35, 387527.28]        0
(387527.28, 390564.21]        0
(390564.21, 393601.14]        0
(393601.14, 396638.07]        0
(396638.07, 399675.0]        12
Name: regionidzip, Length: 100, dtype: int64
=====================================================
**typeconstructiondesc**
Unique Values :  2

Frame       75
Concrete     1
Name: typeconstructiondesc, dtype: int64
=====================================================
**unitcnt**
Unique Values :  1

1.0    33734
Name: unitcnt, dtype: int64
=====================================================
**structuretaxvaluedollarcnt**
Unique Values :  37357

=====================================================
**landtaxvaluedollarcnt**
Unique Values :  36932

=====================================================
**taxvaluedollarcnt**
Unique Values :  38959

=====================================================
**taxamount**
Unique Values :  50859

=====================================================
**logerror**
Unique Values :  52091

=====================================================
**transactiondate**
Unique Values :  257

=====================================================

**takeaways**
- numberofstories there is one property with 6 stories , I would drop it!
- unitcnt is not needed any more. I would drop it
- there are a lot of nulls so in preparation step I will handle them

# Preparation

In [30]:
p.miss_dup_values(df_single)

Your selected dataframe has 36 columns.
There are 25 columns that have missing values.

** There are 0 duplicate rows that represents 0.0% of total Values**

                              Missing Values  % of Total Values
basementsqft                           52303               99.9
storydesc                              52303               99.9
storytypeid                            52303               99.9
architecturalstyledesc                 52280               99.9
architecturalstyletypeid               52280               99.9
typeconstructiontypeid                 52274               99.9
typeconstructiondesc                   52274               99.9
decktypeid                             51960               99.3
hashottuborspa                         50836               97.1
fireplacecnt                           45120               86.2
poolcnt                                41278               78.9
airconditioningtypeid                  38740               74.0
airconditioningdesc                    38740               74.0
numberofstories                        37819               72.2
garagecarcnt                           34333               65.6
unitcnt                                18616               35.6
regionidcity                            1036                2.0
lotsizesquarefeet                        366                0.7
yearbuilt                                120                0.2
structuretaxvaluedollarcnt                89                0.2
calculatedfinishedsquarefeet              88                0.2
regionidzip                               27                0.1
taxamount                                  4                0.0
landtaxvaluedollarcnt                      1                0.0
taxvaluedollarcnt                          1                0.0

In [31]:
df_single.shape

(52350, 36)

In [32]:
# I will drop columns and rows with a lot of null values 
#here I will include unitcnt because the value is 1 for all the properties . as it is the next to 65.6% 
#I can include it in my function
df_single= p.handle_missing_values(df_single, prop_required_columns=0.75, prop_required_row=0.75)

In [33]:
df_single.shape

(52348, 20)

In [34]:
p.miss_dup_values(df_single)

Your selected dataframe has 20 columns.
There are 9 columns that have missing values.

** There are 0 duplicate rows that represents 0.0% of total Values**

                              Missing Values  % of Total Values
regionidcity                            1034                2.0
lotsizesquarefeet                        364                0.7
yearbuilt                                118                0.2
structuretaxvaluedollarcnt                87                0.2
calculatedfinishedsquarefeet              86                0.2
regionidzip                               25                0.0
taxamount                                  4                0.0
landtaxvaluedollarcnt                      1                0.0
taxvaluedollarcnt                          1                0.0

In [37]:

#all these  columns represent a minimun amount so I can drop them 
df_single= p.drop_low_missing_values(df_single, per= 3 )

In [38]:
df_single.shape

(50819, 20)